/.vscode
/2_create_tables.sql
/BL_Report.pbix
/Brainstorming.sql
/Business_Licenses_2024100.csv
/Business_Owners_20241009.csv
/Creating table on another table, Case Expression(IF statement).sql
/Data_Descriptions_uncleaned_fact
/Detecting and Deleting duplicates (Data Cleaning).sql
/Data_Modeling.sql
/data_type_mod.sql
/Table_creation.sql
/business_owners.session.sql